version: '3'

services:
  reprit-cpython:
    build:
      context: .
      args:
      - PYTHON_IMAGE=${CPYTHON_IMAGE_NAME}
      - PYTHON_IMAGE_VERSION=${CPYTHON_IMAGE_VERSION}
    image: lycantropos/reprit-cpython:0.0.1-alpha
    volumes:
      - ./reprit/:/opt/reprit/reprit/
      - ./tests/:/opt/reprit/tests/
      - ./README.md:/opt/reprit/README.md
      - ./setup.py:/opt/reprit/setup.py
      - ./setup.cfg:/opt/reprit/setup.cfg
    entrypoint: python3
    command: setup.py test
