version: '3'

services:
  reprit-cpython:
    build:
      context: .
      args:
      - PYTHON_IMAGE=${CPYTHON_IMAGE_NAME}
      - PYTHON_IMAGE_VERSION=${CPYTHON_IMAGE_VERSION}
    image: lycantropos/reprit-cpython:0.2.2-alpha
    volumes:
      - ./reprit/:/opt/reprit/reprit/
      - ./tests/:/opt/reprit/tests/
      - ./README.md:/opt/reprit/README.md
      - ./requirements-tests.txt:/opt/reprit/requirements-tests.txt
      - ./setup.py:/opt/reprit/setup.py
      - ./pytest.ini:/opt/reprit/pytest.ini
    entrypoint: pytest
