version: '3'

services:
  reprit-pypy:
    build:
      context: .
      args:
      - PYTHON_IMAGE=${PYPY_IMAGE_NAME}
      - PYTHON_IMAGE_VERSION=${PYPY_IMAGE_VERSION}
    image: lycantropos/reprit-pypy:0.0.0
    volumes:
      - ./reprit/:/opt/reprit/reprit/
      - ./tests/:/opt/reprit/tests/
      - ./README.md:/opt/reprit/README.md
      - ./setup.py:/opt/reprit/setup.py
      - ./setup.cfg:/opt/reprit/setup.cfg
    entrypoint: pypy3
    command: setup.py test
